# PostgreSQL
POSTGRES_VERSION=18
POSTGRES_HOST=pgsql
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=mydb

# Prisma
DATABASE_URL=postgresql://postgres:password@pgsql:5432/mydb

# Backend
PORT=3000
NODE_ENV=development
BUILD_TARGET=dev